.appointmentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10%;
  margin-bottom: 1em;
  flex-grow: 1;
}

.AppMain {
  min-height: 80vh;
  display: flex;
  /*min-width: 100%;*/
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9c6644;
  font-weight: normal;
}

.updateButton {
  margin-top: 1px;
  margin-left: 5px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  background-color: #008CBA;
  width: fit-content;
  margin-left: 20%;

}