<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>New appointment</title>
  <link rel="stylesheet" href='/style.css'>
</head>

<body>

<div id="container">

  <div id="header">
    <table class="text">
      <tr>
        <td>Polyclinic</td>
        <td class="rightcol">+7 (999) 666-66-66</td>
      </tr>
    </table>
  </div>

  <div id="sidebar">
    <a href="/profile">Profile</a>
  </div>

  <div id="content">

    <div th:each="appointment : ${appointments}">
      <form role="form" id="sendData" th:action="@{/new_appointment}" th:method="post">
        <input type="hidden" th:value="${appointment.getId()}" name="appointment">
        <input type="submit"
               th:value="${appointment.getDoctor().getName() +' '+ appointment.getTime()}"/>
      </form>

    </div>
  </div>
  <div id="footer">&copy; Azarov Konstantin</div>
</div>
</body>
</html>